<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8caVqpJR-EcAZPOljr-bWhWuzWkMhRDg</string>
	<key>GCM_SENDER_ID</key>
	<string>1034941619297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookpal</string>
	<key>PROJECT_ID</key>
	<string>bookpal-4f333</string>
	<key>STORAGE_BUCKET</key>
	<string>bookpal-4f333.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034941619297:ios:948eede2076266bd1ade20</string>
</dict>
</plist>